# FastAPI Settings
PROJECT_NAME="High Throughput URL Shortener and Analytics Engine"
DEBUG=True
API_V1_STR="/api/v1"

# Database Configuration (PostgreSQL Asyncpg)
DATABASE_URL="postgresql+asyncpg://postgres:postgres_secure_pass@postgres:5432/url_shortener"
DATABASE_POOL_SIZE=20
DATABASE_MAX_OVERFLOW=10

# Caching Configuration (Redis)
REDIS_URL="redis://redis:6379/0"
REDIS_TTL_SECONDS=300

# Rate Limiting Configuration
RATE_LIMIT_PER_MINUTE=60
